In [3]:
bicycles = ["trek", "cannondale", "redline", "hero"]
print(bicycles)

#print the first element
print(bicycles[0])
print(bicycles[0].title())

['trek', 'cannondale', 'redline', 'hero']
trek
Trek

In [4]:
#accessing the last element of a list
print(bicycles[-1])

print(bicycles[-2])
print(bicycles[-3])

print(f"My first bicycle was a {bicycles[-1].title()} cycle.")

hero
redline
cannondale
My first bicycle was a Hero cycle.

In [6]:
print(f"Hello {names[0].title()}, How are you?")
print(f"Hello {names[1].title()}, How are you?")
print(f"Hello {names[2].title()}, How are you?")
print(f"Hello {names[3].title()}, How are you?")

Hello Krishna, How are you?
Hello Sandeep, How are you?
Hello Abhishek, How are you?
Hello Virendra, How are you?

In [7]:
vehicles = ["honda", "toyota", "jeep", "tata"]

print(f"I would like to own a {vehicles[0].title()} car.")
print(f"I would like to own a {vehicles[1].title()} car.")
print(f"I would like to own a {vehicles[2].title()} car.")
print(f"I would like to own a {vehicles[3].title()} car.")

I would like to own a Honda car.
I would like to own a Toyota car.
I would like to own a Jeep car.
I would like to own a Tata car.

In [8]:
# chane element of the list
vehicles

['honda', 'toyota', 'jeep', 'tata']

In [9]:
vehicles[0] = "ducati"

In [10]:
vehicles

['ducati', 'toyota', 'jeep', 'tata']

In [11]:
vehicles[2] = "ranger"

In [12]:
vehicles

['ducati', 'toyota', 'ranger', 'tata']

In [13]:
#Adding new data to the list
#1. Append to the end of the list. The new element gets added to the end of the list.

vehicles.append("ducati")

vehicles

['ducati', 'toyota', 'ranger', 'tata', 'ducati']

In [14]:
vehicles = ['ducati', 'toyota', 'ranger', 'tata', 'ducati', 'ducati']


bikes = []
bikes.append("honda")
bikes.append("yamaha")
bikes.append("suzuki")
print(bikes)

print(vehicles)

['honda', 'yamaha', 'suzuki']
['ducati', 'toyota', 'ranger', 'tata', 'ducati', 'ducati']

In [15]:
vehicles

['ducati', 'toyota', 'ranger', 'tata', 'ducati', 'ducati']

In [54]:
#insert() method inserts element "before" the index provided in the argument, ie, the element is inserted at the mentioned index
# shifting all the elements to the right of the mentioned index one step to the right.
bikes = ['honda', 'yamaha', 'suzuki']
bikes.insert(1, "harley")

#In the above code, 'harley' was to be inserted at index 1, which shifted all the elements to the right of index 1 one more step.
bikes

['honda', 'harley', 'yamaha', 'suzuki']

In [55]:
# Similarly inserting an element with a -ve index inserts the element at the negative index in the list, shifting all the elements to
#the right of the -ve index to the right by one step. Example: Here -2 index will be used by insert() method to insert "raptor" at the index -2 in the list shifting the elements to the right of 
# -2 index one step to the right.
bikes = ['honda', 'harley', 'yamaha', 'suzuki']

bikes.insert(-2,'raptor')

bikes

['honda', 'harley', 'raptor', 'yamaha', 'suzuki']

In [56]:
#Removing items from the list

#Using del statement, you can remove an item from the list by using the index of the item in the list.
#deleting the "yamaha" item from the list bikes. "yamaha" is at index 3.
del bikes[3]

bikes

['honda', 'harley', 'raptor', 'suzuki']

In [57]:
del bikes[4]

IndexError: list assignment index out of range

In [ ]:
bikes.append("suzuki")
bikes

['honda', 'harley', 'raptor', 'yamaha', 'ninja', 'suzuki', 'suzuki']

In [ ]:
del bikes[3]

In [ ]:
bikes

['honda', 'harley', 'raptor', 'ninja', 'suzuki', 'suzuki']

In [ ]:
#deleting element using pop() method. pop() method retains the element deleted from the list.
#By default pop() deletes the last element of the list, considering the list as a stack and performing the deletion as a LIFO.
bikes = ['honda', 'harley', 'raptor', 'ninja', 'suzuki', 'suzuki']
pop_bike = bikes.pop()
bikes

['honda', 'harley', 'raptor', 'ninja', 'suzuki']

In [ ]:
#the last element deleted can be accessed using the variable pop_bike
pop_bike

'suzuki'

In [ ]:
#adding the deleted item back to the list bikes.
bikes.append(pop_bike)
bikes

['honda', 'harley', 'raptor', 'ninja', 'suzuki', 'suzuki', 'suzuki']

In [2]:
#Popping Items from Any Position in a List. pop() method can be used to delete item from list using index number.
bikes = ['honda', 'harley', 'raptor', 'ninja', 'suzuki', 'suzuki', 'suzuki']
bikes.pop(5)

'suzuki'

In [3]:
bikes

['honda', 'harley', 'raptor', 'ninja', 'suzuki', 'suzuki']

In [4]:
#Removing an item by Value. When you dont know the value, you can delete the item from the list using remove() method.
bikes.remove("raptor")
bikes

#The remove() method only deletes the first occurence of the value. If there is more than one occurence of the item, you would need \
#to run a loop through the list to delete all the occurence of the value.

['honda', 'harley', 'ninja', 'suzuki', 'suzuki']

In [5]:
invitees = ["a", "v", "r", "b", "f"]

print(f"Hey {invitees[0].title()}, you are invited for dinner.")
print(f"Hey {invitees[1].title()}, you are invited for dinner.")
print(f"Hey {invitees[2].title()}, you are invited for dinner.")
print(f"Hey {invitees[3].title()}, you are invited for dinner.")
print(f"Hey {invitees[4].title()}, you are invited for dinner.")

print(f"Hey {invitees[3].title()}, can't make to dinner.")

Hey A, you are invited for dinner.
Hey V, you are invited for dinner.
Hey R, you are invited for dinner.
Hey B, you are invited for dinner.
Hey F, you are invited for dinner.
Hey B, can't make to dinner.

In [6]:
invitees

['a', 'v', 'r', 'b', 'f']

In [7]:
#removing the invitee who cannot make it with del statement
del invitees[3]

In [8]:
invitees

['a', 'v', 'r', 'f']

In [9]:
#inserting a new invitee to the list, with append() or insert() method.

invitees.append("h")

In [10]:
invitees.insert(3, "k")

In [11]:
invitees

print(f"hello {invitees[0].title()}, you are invited for dinner.")
print(f"hello {invitees[1].title()}, you are invited for dinner.")
print(f"hello {invitees[2].title()}, you are invited for dinner.")
print(f"hello {invitees[3].title()}, you are invited for dinner.")
print(f"hello {invitees[4].title()}, you are invited for dinner.")
print(f"hello {invitees[5].title()}, you are invited for dinner.")

hello A, you are invited for dinner.
hello V, you are invited for dinner.
hello R, you are invited for dinner.
hello K, you are invited for dinner.
hello F, you are invited for dinner.
hello H, you are invited for dinner.

In [12]:
print(f"Hello all, i have found a bigger table. I would like to increase the number of invitees to the party.")

Hello all, i have found a bigger table. I would like to increase the number of invitees to the party.

In [13]:
#use insert() to add a new guest to the beginning of the list.
invitees.insert(0, "y")

In [14]:
#use insert() to add a new guest to the middle of the list.
invitees.insert(4, "j")

In [15]:
invitees

['y', 'a', 'v', 'r', 'j', 'k', 'f', 'h']

In [16]:
#using append() to add one guest to the end of the list.
invitees.append("d")

In [17]:
print(f"hello {invitees[0].title()}, you are invited for dinner.")
print(f"hello {invitees[1].title()}, you are invited for dinner.")
print(f"hello {invitees[2].title()}, you are invited for dinner.")
print(f"hello {invitees[3].title()}, you are invited for dinner.")
print(f"hello {invitees[4].title()}, you are invited for dinner.")
print(f"hello {invitees[5].title()}, you are invited for dinner.")
print(f"hello {invitees[6].title()}, you are invited for dinner.")
print(f"hello {invitees[7].title()}, you are invited for dinner.")

hello Y, you are invited for dinner.
hello A, you are invited for dinner.
hello V, you are invited for dinner.
hello R, you are invited for dinner.
hello J, you are invited for dinner.
hello K, you are invited for dinner.
hello F, you are invited for dinner.
hello H, you are invited for dinner.

In [18]:
print("Hello all, regretfully due to some logistical issues, the dinner table ordered will not be available on the date I had planned our dinner.\
      Hence, regretfully, i have to reschedule the dinner for a future date.")

Hello all, regretfully due to some logistical issues, the dinner table ordered will not be available on the date I had planned our dinner.      Hence, regretfully, i have to reschedule the dinner for a future date.

In [19]:
invitee_pop = invitees.pop()
print(f"Dear {invitee_pop.title()}, I regret to inform you that you are not invited.")

Dear D, I regret to inform you that you are not invited.

In [20]:
invitee_pop(1)

TypeError: 'str' object is not callable

In [ ]:
invitees.pop(1)

'a'

In [ ]:
invitees.append("a")

In [ ]:
invitees

['y', 'a']

In [ ]:
invitees = ['y', 'a', 'v', 'r', 'j', 'k', 'f', 'h']

In [ ]:
names = ["krishna", "sandeep", "abhishek", "virendra"]

print(names[0], names[1], names[2], names[3], sep=" ")
print(names[0], names[1], names[2], names[3])

krishna sandeep abhishek virendra
krishna sandeep abhishek virendra

In [ ]:
invitees.pop(3)

'r'

In [ ]:
invitees = ['y', 'a']

In [ ]:
invitees

['y', 'a']

In [ ]:
del invitees[0]

IndexError: list assignment index out of range

In [ ]:
invitees

[]

In [ ]:
#Organizing a List
#sorting a list alphabetically or in ascending order
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()     #sort() method permanently alters the sequence of the items in the list.
cars

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
#sorting in reverse order with sort()
cars
cars.sort(reverse=True)
cars

['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
#sorting a list temporarily
#to maintain the original order of the list but present it in sorted order, python provides sorted statement to sort a list. 
# Default is ascending order

cars = ['bmw', 'audi', 'toyota', 'subaru']      #creating a list
sorted(cars)        #sorting the list in ascending order

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
cars                #verifying the status of the list as still maintained as original.

['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
#reversing the order of the list, ie in descending order with sorted() method.

sorted(cars, reverse=True)

['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
#verifying the status of the list
cars

['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
#Printing a List in Reverse Order with reverse() method. This method reverses the order of the elements in the list. it does not sort \
#the list in ascending or descending order.ÃŸ
cars.reverse()      # reverse() method reverses the order of the list permanently. Also it does not throw any output to stdout.

None

In [ ]:
cars

['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
#restore the previous order.
cars.reverse()
cars

['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
#Length of a list can be found using the len statement of python
len(cars)

4

In [ ]:
#Exercise
places = ["Singapore", "Germany", "Spain", "Maharashtra", "America"]

In [ ]:
places

['Singapore', 'Germany', 'Spain', 'Maharashtra', 'America']

In [ ]:
sorted(places)

['America', 'Germany', 'Maharashtra', 'Singapore', 'Spain']

In [ ]:
places

['Singapore', 'Germany', 'Spain', 'Maharashtra', 'America']

In [ ]:
sorted(places, reverse=True)

['Spain', 'Singapore', 'Maharashtra', 'Germany', 'America']

In [ ]:
places

['Singapore', 'Germany', 'Spain', 'Maharashtra', 'America']

In [ ]:
places.reverse()
places

['America', 'Maharashtra', 'Spain', 'Germany', 'Singapore']

In [ ]:
places.reverse()
places

['Singapore', 'Germany', 'Spain', 'Maharashtra', 'America']

In [ ]:
places.sort()
places

['America', 'Germany', 'Maharashtra', 'Singapore', 'Spain']

In [ ]:
places.sort(reverse=True)
places

['Spain', 'Singapore', 'Maharashtra', 'Germany', 'America']

In [ ]:
places.reverse()
places
#len(places)

['America', 'Germany', 'Maharashtra', 'Singapore', 'Spain']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars[-1]

'subaru'